.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  #top {
    position: relative;
    border: 0.0625em solid #bfbfbf;
    width: 100%;
    height: 10%;
    background-color: #d8d8d8;
  }
  #top p {
    text-align: center;
  }
  #top button {
    position: absolute;
    right: 3%;
    top: 20%;
    height: 60%;
    width: 15%;
    border: 0.0625em solid #bfbfbf;
    font-size: 1.1em;
  }
  #priority {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-pack: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 5em;
    border: 0.0625em solid #bfbfbf;
    background-color: #feeaea;
  }
  #priority .text {
    margin-left: 0.5em;
    font-size: 1.5em;
  }
  #priority .flex {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
  }
  #priority #red-circle {
    width: 3em;
    height: 3em;
    background: #ce0b24;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
  }
  #priority #yellow-circle {
    width: 3em;
    height: 3em;
    background: #f7e63b;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
  }
  #priority #green-circle {
    width: 3em;
    height: 3em;
    background: #437414;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
  }
}
#status {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-box-pack: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 5em;
  border: 0.0625em solid #bfbfbf;
  background-color: #ecfeeb;
}
#status .text {
  margin-left: 0.5em;
  font-size: 1.5em;
}
#status .flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
#status img {
  width: 3em;
  height: 3em;
}
