//.function {
//  .px2em(@px) {
//    return: @px / 16px * 1em;
//  }
//}
@top-border: 1/16em solid #bfbfbf;
.px2em(@property, @px) {
  @property: @px / 16px * 1em;
}
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
}
.justify-content(@justify-content) {
  -webkit-justify-content: @justify-content;
     -moz-justify-content: @justify-content;
         -webkit-box-pack: @justify-content;
          justify-content: @justify-content;
}
.align-items(@align-items) {
  -webkit-align-items: @align-items;
    -webkit-box-align: @align-items;
     -moz-align-items: @align-items;
          align-items: @align-items;
}
.circle(@diameter, @bgc, @radius){
  width: @diameter;
  height: @diameter;
  background: @bgc;
  .border-radius(@radius);
  margin-left: 0.6em; //使得与下边的状态图标对齐
}

@media screen and (min-width: 320px) and (max-width: 425px){
    #top {
      position: relative;
      border: @top-border;
      width: 100%;
      height: 5em;
      background-color: #d8d8d8;
      p {
        //height: 5em;
        //line-height: 5em;
        //可能是button有position的缘故，用lineheight并不能上下居中，所以就写了个大概的margin值
        margin-top: 1.2em;
        text-align: center;
        font-size: 1.5em ;
      }
      #add,
      #done {
        position: absolute;
        right: 3%;
        //top没有经过精确计算，只是取了个大概值
        top: 20%;
        height: 60%;
        width: 15%;
        border: @top-border;
      }
      #cancel {
        position: absolute;
        left: 3%;
        //top没有经过精确计算，只是取了个大概值
        top: 20%;
        height: 60%;
        width: 15%;
        border: @top-border;
      }
    }

    #priority {
      .flex;
      .justify-content(space-around);
      .align-items(center);
      width: 100%;
      //由于设置了float，height再用百分比并不会有高度
      height: 5em;
      border: @top-border;
      background-color: #feeaea;
      .text {
        margin-left: 0.5em;
        font-size: 1.3em;
      }
      .flex {
        .flex;
        .align-items(center);
        //为了在点击add时，使得优先级和状态的框一样高一样宽，所以对其进行了宽高规定
        width: 30%;
        height: 60%;
        border: @top-border;
        border-color: #feeaea;
      }
      #red-circle {
        .circle(2em, #ce0b24, 1.5em);
      }
      #yellow-circle {
        .circle(2em, #f7e63b, 1.5em);
      }
      #green-circle {
        .circle(2em, #437414, 1.5em);
      }
    }

    #status {
      .flex;
      .justify-content(space-around);
      .align-items(center);
      width: 100%;
      height: 5em;
      border: @top-border;
      background-color: #ecfeeb;
      .text {
        margin-left: 0.5em;
        font-size: 1.3em;
      }
      .flex{
        .flex;
        .align-items(center);
        //为了在点击add时，使得优先级和状态的框一样高一样宽，所以对其进行了宽高规定
        width: 30%;
        height: 60%;
        border: @top-border;
        border-color: #ecfeeb;
      }
      img {
        width: 3em;
        height: 3em;
      }
    }

    #bottom {
      position: absolute;
      bottom: 0;
      .flex;
      .justify-content(space-around);
      .align-items(center);
      width: 100%;
      height: 5em;
      border: @top-border;
      background-color: #d8d8d8;
      p {
        font-size: 1.5em;
      }
      #all {
        font-weight: 500;
      }
    }

    #new-task {
      margin-top: 1em;
      width: 90%;
      #new-input {
        overflow: auto;//隐藏两个滚动条
        resize: none; //去掉右下角的resize
        border: @top-border;
        width: 100%;
        height: 6em;
        font-size: 1.2em;
      }
    }

    #content{
      div{
        border: @top-border;
        width: 95%;
        margin: 1% auto;
        img {
          float: left;
        }
        p {
          margin-left: 10%;
        }
      }
    }
    #one-content {
      border: @top-border;
      width: 95%;
      margin: 1% auto;
      img {
        float: left;
      }
      p {
        margin-left: 10%;
      }
    }

}


