
//定义px转rem的函数
$browser-default-font-size: 16px !default;
html {
  font-size: $browser-default-font-size;
}
@function pxToRem($px) {
  @return $px / $browser-default-font-size * 1rem;
}

//判断屏幕大小
@mixin screen ($res-min, $res-max) {
  @media screen and (min-width: $res-min) and (max-width: $res-max) {
    @content
  }
}

//显示方式，flex布局
@mixin display($display, $justify-content, $align-items: stretch, $flex-direction: row) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}


//定义图片上文字的属性
@mixin des($position, $left, $top, $width, $height, $color, $bgc) {
  position: $position;
  left: $left;
  top: $top;
  width: $width;
  height: $height;
  color: $color;
  background-color: $bgc;
}

//定义正常字体
@mixin font-size($title, $text) {
  .title {
    font-size: $title;
    font-weight: 700;
  }
  .text {
    font-size: $text;
  }
}

//定义小字体
@mixin little-font($little) {
  .little-title {
    font-size: $little;
    font-weight: 700;
  }
  .time {
    margin-bottom: pxToRem(10px);
    font-size: pxToRem(10px);
    color: #aca9a9;
  }
}




@include screen (800px, 1280px) {
  .content-mobile {
    display: none;
  }
  .nav {
    @include display(flex, space-between, center, default);
    padding-left: pxToRem(10px);
    padding-right: pxToRem(10px);
    height: pxToRem(50px);
    color: #fff;
    background-color: #000;
    ul {
      @include display(flex, space-between, default, default);
      li {
        margin-left: pxToRem(10px);
      }
    }
  }
  .banner {
    img {
      width: 100%;
    }
  }
  .content {
    @include display(flex, space-between, default, default);
    width: 100%;
    .left{
      @include display(flex, space-between, default, column);
      .left-row {
        @include display(flex, space-between, default, default);
        .thumbnail {
          position: relative;
          img {
            margin-right: pxToRem(15px);
            margin-bottom: pxToRem(10px);
            width: pxToRem(160px);
            height: pxToRem(130px);
          }
          .des {
            @include des(absolute, 0, pxToRem(65px), pxToRem(160px), pxToRem(65px), #fff, rgba(0,0,0,.5));
            p:nth-child(1) {
              margin-top: pxToRem(10px);
            }
            p {
              margin-left: pxToRem(10px);
            }
            @include font-size(pxToRem(22px), pxToRem(14px));
          }
        }
      }
      .left-col {
        @include display(flex, space-between, default, column);
        .row {
          @include display(flex, space-between, default, default);
          margin-top: pxToRem(15px);
          margin-right: pxToRem(15px);
          img {
            width: pxToRem(200px);
            height: pxToRem(135px);
          }
          @include font-size(pxToRem(22px), pxToRem(14px));
        }
      }
    }
    .right {
      .thumbnail {
        position: relative;
        img {
          width: pxToRem(250px);
          height: pxToRem(100px);
        }
        .des {
          @include des(absolute, pxToRem(20px), pxToRem(20px), default, default, #fff, default);
          @include font-size(pxToRem(22px), pxToRem(14px));
        }
      }
      @include little-font(pxToRem(18px));
    }
  }
  .footer {
    @include display(flex, center, center, default);
    margin-top: pxToRem(15px);
    width: 100%;
    height: pxToRem(115px);
    background-color: #666;
  }
  .mobile-footer {
    display: none;
  }
}


@include screen(320px, 475px) {
  .content {
    display: none;
  }
  .content-mobile {
    display: block;
    .thumbnail-1 {
      @include display(flex, space-between, default, default);
      margin-bottom: pxToRem(10px);
      .thumbnail {
        position: relative;
        width: 33%;
        img {
          width: 100%;
          height: pxToRem(130px);
        }
        .des {
          @include des (absolute, 0, pxToRem(65px), 100%, pxToRem(65px), #fff, rgba(0,0,0,.5));
          @include font-size(pxToRem(14px), pxToRem(10px));
          p:nth-child(1) {
            margin-top: pxToRem(10px);
          }
          p {
            margin-left: pxToRem(10px);
          }
        }
      }
      .center-thu {
        margin-left: 5%;
        margin-right: 5%;
      }

    }
    .thumbnail-2 {
      position: relative;
      width: 100%;
      .des {
        @include des (absolute, pxToRem(40px), pxToRem(40px), default, default, #fff, default);
        @include font-size(pxToRem(22px), pxToRem(14px));
      }
    }
    .detail {
      @include display(flex, default, default, column);
      margin: pxToRem(20px);
      .row {
        @include display(flex, default, default, row-reverse);
        margin-top: pxToRem(20px);
        img {
          width: pxToRem(200px);
          height: pxToRem(135px);
        }
        @include font-size(pxToRem(22px), pxToRem(14px));
      }
      .list {
        margin-top: pxToRem(20px);
        @include little-font(pxToRem(26px));
      }
    }
  }
  .nav {
    @include display(flex, center, center, default);
    color: #fff;
    background-color: #000;
    ul {
      display: none;
    }
  }
  .footer {
    display: none;
  }
  .mobile-footer {
    display: block;
    padding-left: pxToRem(10px);
    padding-right: pxToRem(10px);
    padding-top: pxToRem(20px);
    height: pxToRem(40px);
    font-size: pxToRem(18px);
    background-color: #eee;
    ul {
      width: 100%;
      @include display(flex, space-between, default, default);
    }
  }
}